<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CouRega</title>
  <!-- Form Template taken from the botton link -->
  <!-- https://codepen.io/nikhil8krishnan/pen/WvYPvv -->
  <style> 
    h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  margin: 0;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 20px;
}
td,th{
  text-align: center;
}
.header {
  padding: 1px;
  text-align: center;
  background: -webkit-linear-gradient(left, #1c8f5f, #166d75);
  background: linear-gradient(to right, #1c8f5f, #166d75);
  color: white;
  font-size: 20px;
}
button, .submit_button {
  padding      : 5px;
  font         : bold .8em sans-serif;
  border       : 1px solid #25c481;
  background   : rgba(255,255,255,0.3);
  cursor       : pointer;
  margin-top: 5px;
  color:rgb(255, 255, 255);
}
.input_buttons{
  display: block;
  text-align: center;
}
.submit_buttons{
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.det{
  font-size: 2em;
  color:rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  text-align: center;
}
button{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}
button:after, .submit_button:after {
  content      : " >>>";
}
button:hover,button:focus, .submit_button:hover,.submit_button:focus {
  outline     : none;
  background  : #000;
  color       : #FFF;
}
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  width: 20%;
}

  </style>
</head>
<body>
  <div class="header">
    <h2>Courega - Student Database</h2>
  </div>
    <br>
    <form action="/addStudentEntry" method="POST">
      <div class="input_buttons">
        <input type="text" placeholder="Name" name="Name">
        <input type="text" placeholder="RegNo" name="RegNo">
        <input type="text" placeholder="Branch" name="Branch">
        <input type="text" placeholder="CGPA" name="CGPA"><br><br>
      </div>
        <div class="submit_buttons">
          <input class="submit_button" type="submit" value="Add">
          <input class="submit_button" type="submit" value="Search" formaction="/searchStudentEntry">
          <input class="submit_button" type="submit" value="Delete" formaction="/deleteStudentEntry">
        </div>
      </form>
    <br>
    <section>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>RegNo</th>
            <th>Branch</th>
            <th>CGPA</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
      <% for(var i=0; i<students.length; i++) {%>
        <tr class="students">
          <td><%= students[i].Name %></td>
          <td><%= students[i].RegNo %></td>
          <td><%= students[i].Branch %></td>
          <td><%= students[i].CGPA %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
</section>
    <button onclick="window.location.href = 'index';" value="Go Back" >Go Back</button>
</body>
</html>